@using LoginBD.Models
@{
    var pagos = ViewBag.Pagos as List<Pago>;
}
<html>
<head>
    <title>Pagos</title> 
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Lista de Pagos</h4>
                <div class="table-responsive">
                    <table id="pagosTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Monto</th>
                                <th>Fecha de pago</th>
                                <th>Paquete</th>
                                <th>Cliente</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (pagos != null && pagos.Any())
                            {
                                foreach (var pago in pagos)
                                {
                                    <tr>
                                        <td>@pago.Monto</td>
                                        <td>@pago.FechaPago</td>
                                        <td>@pago.Paquete</td>
                                        <td>@pago.Cliente</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5">No se encontraron pagos.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
